:root {
    --bg-1: #fff;
    --bg-2: #f6f6f6;
    --bg-3: #e6e6e6;
    --bg-mg: #aaa;

    --fg-1: #000;
    --fg-2: #111;
    --fg-3: #444;

    --mg: #888;

    --button-background: #34486d;
    --button-text: var(--bg-1);
    --button-hover-background: var(--bg-1);
    --button-hover-border: var(--bg-3);
    --button-hover-text: var(--fg-1);
    --event-l: 40%;
    --event-preview: hsla(0deg, 0%, 25%, .3);
    --link: #005cae;
    --shadow: rgba(0, 0, 0, .1);
    --splash-background: var(--bg-1);
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg-1: #0e0e0e;
        --bg-2: #111;
        --bg-3: #1a1a1a;
        --bg-mg: #444;

        --fg-1: #fff;
        --fg-2: #ddd;
        --fg-3: #aaa;

        --mg: #888;

        --button-background: #1c2434;
        --button-text: var(--fg-1);
        --button-hover-background: var(--fg-1);
        --button-hover-border: transparent;
        --button-hover-text: var(--bg-1);
        --event-l: 45%;
        --event-preview: hsla(0deg, 0%, 35%, .3);
        --link: #ffb62b;
        --shadow: rgba(0, 0, 0, .4);
        --splash-background: var(--bg-3);
    }
}
a { color: var(--link); }
a:not(:hover) { text-decoration: none; }
.addendum { margin-left: .1rem; }
body {
    background-color: var(--bg-1);
    color: var(--fg-2);
    font-family: sans-serif;
    line-height: 1.5;
    margin: 0;
}
button,
.button {
    background-color: var(--button-background);
    border: 1px solid transparent;
    border-radius: .2rem;
    color: var(--button-text);
    font-size: 1rem;
    padding: .2rem .6rem .2rem .6rem;
}
.button.cancel {
    background-color: var(--bg-2);
    color: var(--fg-2);
    margin-left: .2rem;
}
button:hover,
.button:hover {
    background-color: var(--button-hover-background);
    border: 1px solid var(--button-hover-border);
    color: var(--button-hover-text);
    cursor: pointer;
    text-decoration: none;
}
.calendar {
    background-color: var(--bg-3);
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr;
}
.calendar_split {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.calendar_split .calendar_wrapper {
    flex-grow: 1;
    overflow-y: auto;
}
.center {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}
code {
    border: 1px solid var(--mg);
    padding: .1rem .3rem;
    border-radius: .2rem;
}
.create_inline {
    align-items: center;
    border: 1px solid var(--bg-3);
    border-radius: .2rem;
    color: var(--fg-2);
    display: flex;
    flex: 1;
    font-size: 1.5rem;
    height: 1.3rem;
    justify-content: center;
    opacity: 0;
    margin: .2rem 0;
}
.create_inline:focus-visible,
.create_inline:hover {
    opacity: 1;
    text-decoration: none;
}
.create_inner {
    display: flex;
    flex-direction: column;
    row-gap: .8rem;
}
.date {
    background-color: var(--bg-1);
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    min-width: 0;
    padding: .2rem .4rem;
    row-gap: .2rem;
}
.date.odd { background-color: var(--bg-2); }
.date.past { color: var(--bg-mg); }
.date.past .event { color: var(--bg-mg); }
.date.past .event path { fill: var(--bg-mg); }
.date.today .label {
    background-color: var(--fg-1);
    border-radius: .2rem;
    color: var(--bg-1);
    font-weight: 600;
    padding: 0rem .4rem 0rem .3rem;
}
.date:hover {
    box-shadow: 0 0 1rem var(--shadow);
    z-index: 2;
}
.dimmed { color: var(--fg-3); }
.edit {
    display: none;
    position: absolute;
}
.edit:target { display: flex; }
.edit_user {
    margin: 2rem 0;
}
.empty_collection {
    align-items: center;
    background-color: var(--bg-1);
    color: var(--bg-mg);
    column-gap: .4rem;
    display: none;
    font-size: .8rem;
    justify-content: center;
    padding: .4rem;
}
.empty_collection.odd { background-color: var(--bg-2); }
.empty_collection .timeframe {
    color: var(--fg-3);
    font-size: .9rem;
}
.error {
    color: #ff3e3e;
    margin: 1rem 0;
}
.event { color: var(--fg-2); }
@media (any-hover: hover) {
    .event_wrapper {
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.event:hover .dot path { fill: var(--fg-3); }
.event svg {
    height: 1rem;
    margin-right: .1rem;
    position: relative;
    top: .2rem;
    width: 1rem;
}
.event svg.dot {
    height: .9rem;
    margin-right: .2rem;
    top: .15rem;
    width: .9rem;
}
fieldset {
    border: 0;
    padding: 0;
}
.form_spaced { margin-top: 1rem; }
.form_row {
    display: flex;
    flex-direction: column;
    row-gap: .2rem;
}
.form_row input,
.form_row select {
    flex-grow: 1;
}
h1 {
    font-size: 1.4rem;
    font-weight: 300;
}
h2 {
    font-size: 1.2rem;
    font-weight: 300;
}
header {
    align-items: center;
    background-color: var(--bg-1);
    border-bottom: 1px solid var(--bg-3);
    box-sizing: border-box;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    padding: 0 1.2rem;
    position: sticky;
    top: 0;
    z-index: 7;
}
header a:hover { text-decoration: none; }
header button svg {
    height: 1.3rem;
    pointer-events: none;
    position: relative;
    top: .1rem;
    width: 1.3rem;
}
header .title {
    color: var(--fg-1);
    column-gap: .5rem;
    display: flex;
    overflow-x: hidden;
}
header .title span {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
header .title svg {
    fill: var(--fg-1);
    flex-shrink: 0;
    height: 1.6rem;
    width: 1.6rem;
}
input[disabled] { color: var(--bg-mg); }
input,
select,
textarea {
    background-color: var(--bg-3);
    border: none;
    border-radius: .2rem;
    color: var(--fg-1);
    font-size: 1rem;
    padding: .3rem .5rem .4rem .5rem;
}
.label {
    align-self: flex-start;
    cursor: help;
    font-size: .9rem;
    margin-bottom: .2rem;
}
.label .mobile { display: none; }
.label .narrow { display: none; }
li:not(:last-child) { margin-bottom: .3rem; }
h1.login {
    align-items: center;
    color: var(--fg-1);
    column-gap: .5rem;
    display: flex;
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 2rem;
}
h1.login svg {
    fill: var(--fg-1);
    height: 2rem;
    width: 2rem;
}
.margin_top { margin-top: 2rem; }
nav {
    background-color: var(--bg-2);
    border: 1px solid var(--bg-3);
    border-radius: .2rem;
    box-shadow: 0 0 1rem var(--shadow);
    display: none;
    flex-direction: column;
    position: absolute;
    right: .6rem;
    top: .6rem;
    min-width: 10rem;
    z-index: -1;
}
nav a { color: var(--fg-2); }
nav a, 
nav span {
    padding: .6rem 2.6rem .6rem .8rem;
}
nav a:hover {
    background-color: var(--button-background) !important;
    color: var(--button-text) !important;
}
nav a:first-child {
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
}
nav a:last-child {
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
}
nav a:not(:first-child) { border-top: 1px solid var(--bg-3); }
nav a.active {
    background-color: var(--bg-3);
}
#menu.active,
#menu:target {
    display: flex;
}
#menu_button {
    background: none;
    border: none;
    border-radius: 0;
    cursor: pointer;
    padding: 0;
}
.pad { padding: 2rem; }
.page {
    margin: 3rem auto;
    max-width: 35rem;
    padding: 0 2rem;
}
.page h1 { margin-bottom: 2rem; }
.page h2 { margin-top: 2rem; }
.pending_operation .dot path { fill: var(--fg-1) !important; }
.reverse_overlay {
    align-items: center;
    background-color: var(--fg-1);
    border-radius: .2rem;
    color: var(--bg-1);
    display: flex;
    height: 5rem;
    justify-content: center;
    left: 50%;
    opacity: .6;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 11rem;
    z-index: 12;
}
.reverse_overlay svg {
    fill: var(--bg-1);
    height: 1rem;
    position: relative;
    top: .2rem;
    width: 1rem;
}
.splash {
    background-color: var(--splash-background);
    border-radius: .5rem;
    box-shadow: 0 0 2rem var(--shadow);
    color: var(--fg-2);
    max-width: 32rem;
    min-height: 16rem;
    pointer-events: initial;
    z-index: 13;
}
.splash .hsplit {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
}
.splash .hsplit a {
    align-items: center;
    color: var(--fg-3);
    column-gap: .2rem;
    display: flex;
}
.splash .hsplit a svg {
    fill: var(--fg-3);
    height: .9rem;
    top: .05rem;
    width: .9rem;
}
.splash .hsplit a,
.splash .hsplit button {
    font-size: .9rem;
}
.splash img {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    display: block;
    max-width: 100%;
}
.splash .pad {
    border: 1px solid var(--bg-3);
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border-top-width: 0;
    padding: 1.2rem 1.5rem;
}
.splash svg {
    height: 1rem;
    position: relative;
    top: .1rem;
    width: 1rem;
}
.splash ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
}
.splash_wrapper {
    align-items: center;
    background: none;
    border: none;
    box-sizing: border-box;
    height: 100vh;
    justify-items: center;
    pointer-events: none;
    width: 100vw;
}
.splash_wrapper[open] { display: grid; }
summary { cursor: pointer; }
svg { fill: var(--fg-2); }
.tool {
    align-items: center;
    border-radius: 1.75rem;
    bottom: 2rem;
    display: flex;
    height: 3.5rem;
    justify-content: center;
    position: fixed;
    right: 2rem;
    width: 3.5rem;
    z-index: 4;
}
.tool svg {
    fill: var(--bg-1);
    height: 2.5rem;
    width: 2.5rem;
}
.tool.create { background-color: var(--link); }
.tool.raised { bottom: 7rem; }
.tool.reverse { background-color: var(--fg-2); }
body:not(.js_enabled) .tool,
.tooltip_active .tool {
    bottom: 9rem;
}
body:not(.js_enabled) .tool.raised,
.tooltip_active .tool.raised {
    bottom: 14rem;
}
.tool:hover { background-color: var(--bg-mg); }
.tool:hover svg { fill: var(--fg-1); }
.tooltip {
    background-color: var(--button-background);
    color: var(--button-text);
    display: flex;
    flex-direction: column;
    height: 7rem;
    justify-content: center;
    padding: 0 2rem;
    row-gap: .1rem;
}
.js_enabled .tooltip { display: none; }
.tools_wrapper.tooltip_active .tooltip { display: flex; }
@media (max-width: 35.999rem) {
    .create_inline { display: none; }
    .day_of_week { display: none; }
    .date {
        font-size: .9rem;
        padding-bottom: 1.5rem;
    }
    .date.clip { display: none; }
    .date.clip_empty { display: none; }
    .empty_collection { display: flex; }
    .empty_text { color: var(--fg-3); }
    .label { font-size: 1rem; }
    .label .mobile { display: unset; }
    .label .wide { display: none; }
    .menuitem_generic { padding-left: .4rem; }
    .menuitem_generic span { display: none; }
    .menuitem_generic svg { margin-left: 0; }
}
@media (min-width: 36rem) {
    .calendar {
        grid-auto-flow: dense;
        grid-template-columns: repeat(7, 1fr);
    }
    .date { min-height: 8rem; }
    .empty_text { display: none; }
    .order-1 { grid-column: 1 }
    .order-2 { grid-column: 2 }
    .order-3 { grid-column: 3 }
    .order-4 { grid-column: 4 }
    .order-5 { grid-column: 5 }
    .order-6 { grid-column: 6 }
    .order-7 { grid-column: 7 }
}
@media (min-width: 36rem) and (max-width: 72rem) {
    .label .narrow { display: unset; }
    .label .wide { display: none; }
}
